<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
    <body>
        {% block content %}
        <div style="background-color: #9DA89C; margin-bottom: 1rem; height: 4rem; align-content: center; display: grid;">
            <ul class="nav justify-content-center">
                {% for cat in clothing %}
                    <li class="nav-item" style="z-index:2">
                       <a class="nav-link active" aria-current="page" href="{% url 'category_clothing' cat.id %}"
                          style="color: white">
                           {{cat.name}}
                           <img src="/static/ico/downmenu.png">
                       </a>
                    </li>
                {% endfor %}
                <li class="nav-item" style="z-index:2">
                    <a class="nav-link active" aria-current="page" href="#" style="color: white">
                        Капсулы
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
             <div class="order-info" style="margin-bottom: 2rem;">
                 <h3>Корзина</h3>
                 <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Наименование</th>
                        <th>Размер</th>
                        <th>Цвет</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td style="width: 10%">
                                    <img src="{{MEDIA_URL}}{{product.photo_1.url}}"
                                         class="d-block w-100" alt="..." style="border-radius: 10px">
                                </td>
                                <td>{{ product.name }}</td>
                                <td>{{ item.size }}</td>
                                <td>{{ product.colors }}</td>
                                <td class="num" style="color: #825934; font-weight: bold"> {{ item.price }} ₽</td>
                                <td>{{ item.quantity }}</td>
                                <td class="num" style="color: #825934; font-weight: bold"> {{ item.total_price }} ₽</td>
                                <td>
                                    <a href="#">
                                        <img src="/static/ico/favorite2.png">
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'cart_remove' product.id %}">
                                        <img src="/static/ico/delete.png">
                                    </a>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                 </table>
                 <div class="row justify-content-end">
                     <div class="col-4" style="text-align-last: right;">
                         <div class="row">
                             <div class="col" style="font-size: x-large">
                                 Итого:
                             </div>
                             <div class="col" style="color: #825934; font-size: x-large; font-weight: bold">
                                 {{ cart.get_total_price }} ₽
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
            <h3>Оформление заказа</h3>
             <form method="post" class="order-form" style="margin-bottom: 5rem;">
                 <div class="row"  style="margin-bottom: 1rem;">
                     <div class="col-4">
                         <div style="padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; font-weight: bold">Адрес</div>
                         <div style="margin-bottom: 1rem">{{ form.country }}</div>
                         <div style="margin-bottom: 1rem">{{ form.city }}</div>
                         <div style="margin-bottom: 1rem">{{ form.postal_code }}</div>
                         <div style="margin-bottom: 1rem">{{ form.address }}</div>
                         <div style="padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; font-weight: bold">Покупатель</div>
                         <div style="margin-bottom: 1rem">{{ form.name }}</div>
                         <div style="margin-bottom: 1rem">{{ form.email }}</div>
                         <div style="margin-bottom: 1rem">{{ form.phone }}</div>
                     </div>
                     <div class="col-4 mx-auto">
                         <div style="padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; font-weight: bold">Выберите способ оплаты</div>
                         <div style="margin-bottom: 1rem">{{ form.type_pay }}</div>
                     </div>
                     <div class="col-4 mx-auto">
                         <div style="padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; font-weight: bold">Выберите способ доставки</div>
                         <div style="margin-bottom: 1rem">{{ form.delivery }}</div>
                         <button type="submit" class="btn" style="margin-top: 10px;
                                                                         border-radius: 20px;
                                                                                    --bs-btn-color: #FFFFFF;
                                                                                    --bs-btn-bg: #825934;
                                                                                    --bs-btn-border-color: #8b4513;
                                                                                    --bs-btn-hover-color: #fff;
                                                                                    --bs-btn-hover-bg: #b35c1e;
                                                                                    --bs-btn-hover-border-color: #8b4513;
                                                                                    --bs-btn-focus-shadow-rgb: 49,132,253;
                                                                                    --bs-btn-active-color: #fff;
                                                                                    --bs-btn-active-bg: #8b4513;
                                                                                    --bs-btn-active-border-color: #8b4513;
                                                                                    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                                                                                    --bs-btn-disabled-color: #fff;
                                                                                    --bs-btn-disabled-bg: #8b4513;
                                                                                    --bs-btn-disabled-border-color: #8b4513;">
                            Оформить заказ
                        </button>
                     </div>
                 </div>
                 {% csrf_token %}
             </form>
        </div>
        {% endblock content %}
    </body>
</html>