<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
    <body>
        {% block content %}
        <div class="container">
            <table class="table" style="margin-bottom: 5rem">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Эл.почта</th>
                        <th>Адрес</th>
                        <th>Индекс</th>
                        <th>Город</th>
                        <th>пользователь</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ order.first_name }}</td>
                        <td>{{ order.last_name }}</th>
                        <td>{{ order.email }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.postal_code }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.authorUser }}</td>
                    </tr>
                </tbody>
             </table>
             <table class="table">
                <thead>
                    <tr>
                        <th>Заказ</th>
                        <th>Продукт</th>
                        <th>Цена</th>
                        <th>Колличство</th>
                        <th>Цвет</th>
                        <th>Размер</th>
                        <th>Отправка</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in view.all_items_order %}
                    <tr>
                        <td>{{ order.order }}</td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.color }}</td>
                        <td>{{ order.size }}</td>
                        <td><a href="{% url 'orders:order_update' order.id %}">{{ order.order.paid }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
             </table>
        </div>
        {% endblock content %}
    </body>
</html>