<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
    <body>
        {% block content %}
        <div class="container">
             <table class="table">
                <thead>
                    <tr>
                        <th>Заказ</th>
                        <th>Продукт</th>
                        <th>Цена</th>
                        <th>Колличство</th>
                        <th>Цвет</th>
                        <th>Размер</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.order }}</td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.color }}</th>
                        <td>{{ order.size }}</td>
                        <td><a href="{% url 'orders:order_update' order.id %}">{{ order.order.paid }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
             </table>
        </div>
        {% endblock content %}
    </body>
</html>