<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
    <body>
        {% block content %}
        <div class="container">
             <div class="order-info" style="margin-bottom: 2rem;">
                 <h3>Отметка об отправке</h3>
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.id }}</td>
                        </tr>
                    </tbody>
                 </table>
             </div>
            <h3>Состояние заказа</h3>
             <form method="post" class="order-form" style="margin-bottom: 5rem;">
                 Отправка {{ form.paid }}
                 <button type="submit" class="btn" style="margin-top: 10px;
                                                                 border-radius: 20px;
                                                                            --bs-btn-color: #FFFFFF;
                                                                            --bs-btn-bg: #825934;
                                                                            --bs-btn-border-color: #8b4513;
                                                                            --bs-btn-hover-color: #fff;
                                                                            --bs-btn-hover-bg: #b35c1e;
                                                                            --bs-btn-hover-border-color: #8b4513;
                                                                            --bs-btn-focus-shadow-rgb: 49,132,253;
                                                                            --bs-btn-active-color: #fff;
                                                                            --bs-btn-active-bg: #8b4513;
                                                                            --bs-btn-active-border-color: #8b4513;
                                                                            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                                                                            --bs-btn-disabled-color: #fff;
                                                                            --bs-btn-disabled-bg: #8b4513;
                                                                            --bs-btn-disabled-border-color: #8b4513;">
                    OK
                </button>
                 {% csrf_token %}
             </form>
        </div>
        {% endblock content %}
    </body>
</html>