<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block nav %}
     <div class="bg-body-tertiary">
            <ul class="nav justify-content-center">
                {% for cat in clothing %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'category_clothing' cat.id %}">{{cat.name}}</a>
              </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock nav %}
    {% block content %}
        <div class="container">
            <div class="row">
              {% for category in category_products %}
              <div class="col-md-3 mb-4">
                  <div class="card h-100" style="width: 100%;">
                      <a href="{% url 'products' category.id %}">
                          <img src="{{MEDIA_URL}}{{category.photo.url}}" class="card-img-top" alt="...">
                      </a>
                      <div class="card-body">
                        <p class="card-text">{{category.name}}</p>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>
        </div>
    {% endblock content %}
    </body>
</html>