<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
        {% block content%}
        <div class="container" style="margin-top: 2rem">
            <h3>Контакты</h3>
            <p>
               <a href="mailto:prirodatela@yandex.ru" style="font-size: larger; color: #825934">prirodatela@yandex.ru</a>
            </p>
            <p>
               <a href="https://vk.com/stikhiatela" style="font-size: larger; color: #825934">vk.com/stikhiatela</a>
            </p>
            <p style="font-size: larger;">
                ООО "Стихия" ИНН 5918220792
            </p>
        </div>
        {% endblock content %}
    </body>
</html>