<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
        {% block content%}
        <div class="container" style="margin-top: 2rem">
            <h3>Доставка</h3>
            <p style="font-size: larger;">
                Мы доставляем заказы по всей России транспортной компанией СДЭК. <br>
                Стоимость заказа считается автоматически при оформлении. <br>
                Если сайт не считает доставку в ваш город- пожалуйста свяжитесь с нами удобным для Вас способом.
            </p>
        </div>
        {% endblock content %}
    </body>
</html>