<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
    <div class="container" style="position: absolute; z-index: 1020; margin-top: 10vh; margin-bottom: 5rem">
        <div class="row">
            <div class="row" style="z-index: 1030; padding-right: 0">
                <div class="col-lg-4 align-self-center" style="text-align: center">
                    <h4>
                        <p style="color: #FFFFFF; margin-top: 1rem">
                            Бренд нижнего белья<br>
                            и домашней одежды
                        </p>
                    </h4>
                    <div class="row justify-content-start">
                        <div class="col" style="margin-bottom: 1rem">
                            <a class="btn btn-light" style="border-radius: 20px">Перейти <img src="/static/ico/arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="row" style="margin: 0; margin-bottom: 3rem">
                 <div class="bg-body-tertiary" style="--bs-bg-opacity: 0; position: absolute; left: 0; right: 0; margin: 0 auto; z-index: 1030">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSecond" aria-controls="navbarSecond" aria-expanded="false"
                                    aria-label="Переключатель навигации" style="margin-left: 1rem; border: 0; color: #FFFFFF; box-shadow: none;">
                                <span>
                                    Каталог <img src="/static/ico/downmenu_second_nav.png">
                                </span>
                            </button>
                            <div class="navbar-toggler" data-bs-toggle="collapse"
                                 style="margin-left: 1rem; border: 0; color: #FFFFFF;">
                                 <div class="row">
                                     <div class="col-3">
                                         <a href="/profile/">
                                             <img src="/static/ico/profile_white.png">
                                         </a>
                                     </div>
                                     <div class="col-3">
                                         <a href="{% url 'favorite' %}">
                                            <img src="/static/ico/favorite_white.png">
                                         </a>
                                     </div>
                                     <div class="col-3">
                                         <a href="{% url 'cart_detail' %}" style="text-decoration: none; color: #825934; font-weight: bold;">
                                            <img src="/static/ico/cart_white.png">
                                         </a>
                                     </div>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse" id="navbarSecond">
                                <ul class="navbar-nav w-100 justify-content-center">
                                    {% for cat in all_categories %}
                                        <li class="nav-item" style="margin-right: 2rem;">
                                            <a class="nav-link active" aria-current="page" href="{% url 'category_clothing' cat.id %}" style="color: snow; padding-left: 10px;">
                                                {{cat.name}}
                                                <img src="/static/ico/downmenu.png">
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#" style="color: white; padding-left: 10px;">
                                            Капсулы
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="padding: 0">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/img/banner.jpg" alt="..." style="width: 100vw; padding: 0">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/banner_1.jpg" alt="..." style="width: 100vw; padding: 0">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/banner_2.jpg" alt="..." style="width: 100vw; padding: 0">
                        </div>
                    </div>
                </div>
<!--                <img src="/static/img/banner.jpg" class="img-fluid" style="width: 100vw; min-height: 30vh; padding: 0">-->
            </div>
            <!-- картинки -->
    <div class="container">
                <div class="row">
                    {% for category, sub_category in all_categories.items %}
                        {% if sub_category %}
                        <!--
                        <div class="h3 text-bold">{{ category }}</div>
                        -->
                        {% endif %}
                        {% for sub in sub_category %}
                            {% if sub.popular %}
                                <div class="col-5 align-self-center" style="margin-bottom: 3rem!important;">
                                    <div class="card h-100" style="width: 100%; --bs-card-border-color: 0; max-width: 18rem">
                                        <a href="{% url 'products' sub.id %}">
                                            <img src="{{MEDIA_URL}}{{sub.photo.url}}" class="card-img-top" alt="...">
                                            <div class="card-body" style="position: absolute; bottom: 0; background-color: rgba(255, 253, 208,0.5); width: 100%">
                                                <center><p class="card-text-center" style="color: #000000">{{sub.name}}</p></center>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col"> <!-- Для главной новости -->
                        <h3>Новости бренда</h3>
                        {% if news %}
                        {% for new in last_news %}
                            <div class="card" style="max-width: 40vw; min-width: 18rem; padding-top: 12px;
                            padding-bottom: 12px; padding-left: 12px; padding-right: 12px; border-color: #825934;
                            border-width: 2px; margin-bottom: 3rem">
                                <img src="{{MEDIA_URL}}{{new.image.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="row justify-content-start">
                                        <div class="col-6 col-sm-3" style="color: #825934">{{ new.author }} </div>
                                            <div class="col-6 col-sm-3">| {{ new.date_add }}</div>
                                    </div>
                                    <h5 class="card-title">{{ new.header }}</h5>
                                    <p class="card-text">{{ new.text | truncatewords:15 }}</p>
                                    <a class="btn" style="border-radius: 20px; border-color: #000000" href="{% url 'news_detail' new.id %}">Подробнее <img src="/static/ico/arrow.png"></a>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col"> <!-- Для остальных новостей -->
                        <h5><a href="{% url 'news_list' %}" style="color: #825934">Смотреть все</a></h5>
                        {% for new in next_news %}
                            <div class="card" style="border: 0">
                                <div class="card-body" style="margin-bottom: 2rem">
                                    <div class="row justify-content-start">
                                        <div class="col" style="margin-bottom: 1rem">
                                            <span style="color: #825934;">
                                                {{ new.author }}
                                            </span>
                                            | {{ new.date_add }}
                                        </div>
                                    </div>
                                    <a href="{% url 'news_detail' new.id %}" style="text-decoration: none; color: #000000">
                                        <h5 class="card-title" style="margin-bottom: 1rem">{{ new.header }}</h5>
                                    </a>
                                    <p class="card-text">{{ new.text | truncatewords:15 }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
    </body>
</html>