<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
            <div class="row align-items-center" style="background-color: #9DA89C; margin-bottom: 2rem; height: 4rem; z-index: 1030; position: relative; margin-left: 0; margin-right: 0;">
            <nav class="navbar navbar-expand-lg" style="background-color: #9DA89C;">
                <div class="container" style="padding-right: 0;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSecond" aria-controls="navbarSecond" aria-expanded="false"
                            aria-label="Переключатель навигации" style="margin-left: 0; padding-left: 0; border: 0; color: #FFFFFF; box-shadow: none;">
                        <span>
                            Каталог <img src="/static/ico/downmenu_second_nav.png">
                        </span>
                    </button>
                    <div class="navbar-toggler" data-bs-toggle="collapse"
                         style="margin-left: 1rem; border: 0; color: #FFFFFF;">
                         <div class="row" style="justify-content: center;">
                             <div class="col-3">
                                 <a href="/profile/">
                                     <img src="/static/ico/profile_white.png">
                                 </a>
                             </div>
                             <div class="col-3">
                                 <a href="{% url 'favorite' %}">
                                    <img src="/static/ico/favorite_white.png">
                                 </a>
                             </div>
                             <div class="col-3">
                                 <a href="{% url 'cart_detail' %}" style="text-decoration: none; color: #825934; font-weight: bold;">
                                    <img src="/static/ico/cart_white.png">
                                 </a>
                             </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSecond">
                        <ul class="navbar-nav w-100 justify-content-center">
                            {% for cat in clothing %}
                                <li class="nav-item" style="margin-right: 2rem;">
                                    <a class="nav-link active" aria-current="page" href="{% url 'category_clothing' cat.id %}" style="color: snow; padding-left: 10px;">
                                        {{cat.name}}
                                        <img src="/static/ico/downmenu.png">
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" style="color: white; padding-left: 10px;">
                                    Капсулы
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
            <div class="container" style="margin-bottom: 5rem;">
                <div class="row" style="margin-bottom: 3rem">
                    <div class="col">
                        <span style="color: darkgrey;">
                            <a class="navbar-brand" href="{% url 'categories_global' %}">
                                Главная /
                            </a>
                            <a class="navbar-brand" href="{% url 'category_clothing' category.client_category.id %}">
                                {{ category.client_category }} /
                            </a>
                        </span>
                        <span>
                            {{ category.name }}
                        </span>
                    </div>
                </div>
                <form>
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 1rem">
                        <div class="col-lg-2">
                             {{ products.form.size.label_tag }}
                             {{ products.form.size }}
                        </div>
                        <div class="col-lg-2">
                             {{ products.form.colors.label_tag }}
                             {{ products.form.colors }}
                        </div>
                        <div class="col-lg-2 align-self-end" style="margin-top: 1rem;">
                            <input class="btn" type="submit" value="Найти" style="background-color: #825934; color: #FFFFFF">
                        </div>
                    </div>
                </form>
                 <div class="row justify-content-start">
                     {% for product in products.qs %}
                         <div class="col colMobile" style="margin-bottom: 3rem!important;">
                             <div class="card h-100" style="width: 100%; --bs-card-border-color: 0; max-width: 18rem">
                                 <a href="{% url 'product' product.id %}">
                                     <img src="{{MEDIA_URL}}{{product.photo_1.url}}" class="card-img-top" alt="...">
                                 </a>
                                 <div class="card-body" style="position: absolute; padding: 0; bottom: 0; background-color: #ffffff77; width: 100%">
                                     <a href="{% url 'product' product.id %}" style="text-decoration: none">
                                         <div class="row" style="align-items: center;">
                                             <div class="row" style="padding-right: 0;">
                                                 <div class="col text-center" style="color: #000000; margin-top: 0.5rem; margin-bottom: 0.5rem; padding-right: 0">
                                                     {{product.name}}
                                                 </div>
                                             </div>
                                                 <div class="col text-start" style="padding-right: 0;">
                                                     <div style="color: #825934; font-weight: bold">{{product.price}} ₽</div>
                                                 </div>
                                             <div class="col text-center" style="max-width: 50px; padding-left: 0;">
                                                 {% if product.name in request.user.favorite_products.all|join:", " %}
                                                    <form action="{% url 'delete_favorite_in_list' %}" method="post" style="text-align: right">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id_cat" value={{product.id}}>
                                                        <button type="submit" class="btn" style="background-color: #fff0; border: #fff0; padding-right:0">
                                                            <img src="/static/ico/favorite3.png">
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form action="{% url 'add_favorite_in_list' %}" method="post" style="text-align: right">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id_cat" value={{product.id}}>
                                                        <button type="submit" class="btn" style="background-color: #fff0; border: #fff0; padding-right:0">
                                                            <img src="/static/ico/favorite.png">
                                                        </button>
                                                    </form>
                                                {% endif %}
                                             </div>
                                         </div>
                                     </a>
                                 </div>
                             </div>
                          </div>
                     {% endfor %}
                 </div>
                <!--
                 {% if news %}
                    <div class="row justify-content-start">
                        <div class="col-md-4 align-self-end">
                            <h3>Новости бренда</h3>
                        </div>
                        <div class="col-md-4 ms-auto align-self-end">
                            <h5><a href="#" style="color: #825934">Смотреть все</a></h5>
                        </div>
                    </div>
                    <div class="row justify-content-start" style="margin-bottom: 3rem">
                        <div class="col">
                            {% for new in last_news %}
                                <div class="card" style="max-width: 40vw; min-width: 18rem; padding-top: 12px;
                                padding-bottom: 12px; padding-left: 12px; padding-right: 12px; border-color: #825934;
                                border-width: 2px; margin-bottom: 3rem">
                                    <img src="{{MEDIA_URL}}{{new.image.url}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="row justify-content-start">
                                        <div class="col-6 col-sm-3" style="color: #825934">{{ new.author }} </div>
                                            <div class="col-6 col-sm-3">| {{ new.date_add }}</div>
                                        </div>
                                        <h5 class="card-title">{{ new.header }}</h5>
                                        <p class="card-text">{{ new.text }}</p>
                                        <a class="btn" style="border-radius: 20px; border-color: #000000">Подробнее <img src="/static/ico/arrow.png"></a>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col">
                            {% for new in next_news %}
                                <div class="card" style="border: 0">
                                    <div class="card-body">
                                        <div class="row justify-content-start">
                                            <div class="col" style="color: #825934">{{ new.author }}| {{ new.date_add }} </div>
                                        </div>
                                        <h5 class="card-title">{{ new.header }}</h5>
                                        <p class="card-text">{{ new.text }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        -->
             </div>
    {% endblock content %}
    </body>
</html>