<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
        {% block content%}
        <div class="container" style="margin-top: 2rem">
            <h3>Возврат</h3>
            <p style="font-size: larger;">
                Вы можете оформить возврат в течении 7 календарных дней после получения заказа. <br>
                Постановление правительства РФ от 27.09.2007 №612 «Об утверждении правил продажи товаров дистанционным способом».
            </p>
            <p style="font-size: larger;">
                При возврате товаров надлежащего качества стоимость доставки оплачивается продавцом.
            </p>
            <p style="font-size: larger;">
                Не пользуйтесь товаром, который планируете вернуть — он должен оставаться новым, сохраните все вшитые ярлыки и <br>
                этикетки, а также товарные, кассовые или электронные чеки, подтверждающие покупку в нашем магазине.
            </p>
            <p style="font-size: larger;">
                Пожалуйста, будьте готовы, что, если на сданном изделии будут выявлены дефекты или признаки использования, <br>
                интернетмагазин имеет право отказать в возврате, в таком случае все затраты на доставку возврата возлагаются на покупателя
            </p>
        </div>
        {% endblock content %}
    </body>
</html>