<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>
<body>
    <div style="height: 2rem; width: 100%; background-color: #9DA89C;">
        <img src="http://127.0.0.1:8000/static/ico/logo-2.png" style="width: 5%; height: 5%; margin-right: 10%">
    </div>
    <h2>Смена пароля</h2>
    <p> Уважаемый пользователь вы сделали запрос на восстановление пароля, <br>
        для восстановления пароля на жмите на ссылку ниже <br>
        Ссылка для смены пароля: {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %} <br>
        Ваш логин: {{ user.get_username }}</p>
</body>
</html>

