{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h4 style="margin-top: 4rem; margin-bottom: 1rem">Восстановление пароля</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4" style="text-align: center;">
                {% if validlink %}
                 <p>Please enter your new password twice:</p>
                 <form method="post">
                 {{ form.as_p }}
                 {% csrf_token %}
                 <p><input type="submit" value="Change my password" /></p>
                 </form>
                 {% endif %}
            </div>
        </div>
    </div>
{% endblock %}