<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div></div>
    <h2>Смена пароля</h2>
    <p> Уважаемый пользователь вы сделали запрос на восстановление пароля, <br>
        для восстановления пароля на жмите на ссылку ниже <br>
        Ссылка для смены пароля: {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %} <br>
        Ваш логин: {{ user.get_username }}</p>
</body>
</html>

