.prod_checbox strong {font-size: 14px;
    color: #333;
    display: inline-block;
    margin-right: 10px;
    letter-spacing: 0.5px;
    }

.radio-toolbar label {
    display: inline-block;
    cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #FFEEDE;
}

.radio-toolbar label:hover {
    background-color: #FFEEDE;

}