{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Избранное</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Фото</th>
                <th>Товар</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td style="width: 10%"><img src="{{MEDIA_URL}}{{product.photo_1.url}}" class="d-block w-100" alt="..."></td>
                        <td>{{ product.name }}</td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'favorites_remove' product.id %}">Убрать из избранного</a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
        <p class="text-right">
            <a href="{% url 'categories_global' %}" class="button light">Continue shopping</a>
        </p>
    </div>
{% endblock %}